.*project
*~
.c9
.deps
.dirstamp
.libs
.settings
autom4te.cache
gmon*
*.a
*.la
*.lo
*.log
*.o
*.out
nbproject
build
modules
test.php
tests/*.diff
tests/*.exp
tests/*.php
tests/*.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
tmp-php.ini
specs
