language: php

php:
#  - 5.6
  - 7.0
  - 7.1
  - 7.2

env:
  global:
    - MONOLOG_VERSION=1.17.2
    - GUZZLE_PSR7_VERSION=1.2.1
# @FIXME Needed for PHP 7.2 fixes
    - STASH_VERSION=master
    - PSX_CACHE_VERSION=v1.0.1
    - LEAGUE_CONTAINER_VERSION=2.3.0
    - LINK_UTIL_VERSION=1.0.0
    - DISPATCH_VERSION=2.0.0
    - REQUEST_HANDLER_VERSION=v1.0.1

branches:
  only:
    - master
    - develop

sudo: required

dist: trusty

before_install:
  - travis_retry sudo apt-get update -y
  - travis_retry sudo apt-get install -y lcov
  - travis_retry gem install coveralls-lcov

install:
  - phpize
  - ./configure CFLAGS="--coverage -fprofile-arcs -ftest-coverage $CFLAGS" LDFLAGS="--coverage"
  - make clean all

before_script:
  - lcov --directory . --zerocounters
  - lcov --directory . --capture --compat-libtool --initial --output-file coverage.info
  - travis_retry ./.travis.sh monolog_init
  - travis_retry ./.travis.sh stash_init
  - travis_retry ./.travis.sh psr7_init
  - travis_retry ./.travis.sh league_container_init
  - travis_retry ./.travis.sh link_util_init
  - travis_retry ./.travis.sh psx_cache_init
  - travis_retry ./.travis.sh dispatch_init
  - travis_retry ./.travis.sh request_handler_init

script:
  - export NO_INTERACTION=1
  - export REPORT_EXIT_STATUS=1
  - export TEST_PHP_EXECUTABLE=`which php`
  - php run-tests.php -d extension=psr.so -d extension_dir=modules -n ./tests/*.phpt
  - ./.travis.sh monolog_test
  - ./.travis.sh stash_test
  - ./.travis.sh psr7_test
  - ./.travis.sh league_container_test
  - ./.travis.sh link_util_test
  - ./.travis.sh psx_cache_test
  - travis_retry ./.travis.sh dispatch_test
  - ./.travis.sh request_handler_test

after_success:
  - lcov --no-checksum --directory . --capture --compat-libtool --output-file coverage.info
  - lcov --remove coverage.info "/usr*" --remove coverage.info "*/.phpenv/*" --remove coverage.info "/home/travis/build/include/*" --compat-libtool --output-file coverage.info
  - coveralls-lcov coverage.info

after_failure:
  - for i in `find tests -name "*.out" 2>/dev/null`; do echo "-- START ${i}"; cat $i; echo "-- END"; done
  - for i in `find tests -name "*.mem" 2>/dev/null`; do echo "-- START ${i}"; cat $i; echo "-- END"; done

