sudo: false

language: php

php:
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'
  - 'master'

matrix:
  fast_finish: true
  allow_failures:
    - php: 'master'

addons:
  apt:
    packages:
      - lcov

env:
  global:
    - MONOLOG_VERSION=1.23.0
    - GUZZLE_PSR7_VERSION=1.4.2
    - STASH_VERSION=v0.15.1
    - PSX_CACHE_VERSION=v1.0.1
    - LEAGUE_CONTAINER_VERSION=3.2.2
    - LINK_UTIL_VERSION=1.0.0
    - DISPATCH_VERSION=2.0.0
    - REQUEST_HANDLER_VERSION=v1.3.0
    - HTTP_FACTORY_GUZZLE_VERSION=1.0.0
    - HTTP_GUZZLE_PSR18_ADAPTER_VERSION=v1.0.1
    - DEFAULT_COMPOSER_FLAGS="--no-interaction --no-ansi --no-progress --no-suggest"

branches:
  only:
    - master
    - develop

before_install:
  - travis_retry gem install coveralls-lcov
  - export PHP_MAJOR="$(`phpenv which php` -r 'echo phpversion();' | cut -d '.' -f 1)"
  - export PHP_MINOR="$(`phpenv which php` -r 'echo phpversion();' | cut -d '.' -f 2)"
  # friendsofphp/php-cs-fixer v2.9.3 requires php ^5.6 || >=7.0 <7.3
  # We'll remove this in the future
  - |
      if [ "${PHP_MAJOR}.${PHP_MINOR}" = "7.3" ] || [ "${PHP_MAJOR}.${PHP_MINOR}" = "7.4" ]; then
        export DEFAULT_COMPOSER_FLAGS="$DEFAULT_COMPOSER_FLAGS --ignore-platform-reqs"
      fi
install:
  - phpize
  - ./configure CFLAGS="--coverage -fprofile-arcs -ftest-coverage $CFLAGS" LDFLAGS="--coverage"
  - make clean all

before_script:
  - lcov --directory . --zerocounters
  - lcov --directory . --capture --compat-libtool --initial --output-file coverage.info
  - travis_retry ./.travis.sh monolog_init
  - travis_retry ./.travis.sh stash_init
  - travis_retry ./.travis.sh psr7_init
  - travis_retry ./.travis.sh league_container_init
  - travis_retry ./.travis.sh link_util_init
  - travis_retry ./.travis.sh psx_cache_init
  - travis_retry ./.travis.sh dispatch_init
  - travis_retry ./.travis.sh request_handler_init
  - travis_retry ./.travis.sh http_factory_guzzle_init
  - travis_retry ./.travis.sh guzzle_psr18_adapter_init

script:
  - export NO_INTERACTION=1
  - export REPORT_EXIT_STATUS=1
  - export TEST_PHP_EXECUTABLE=`which php`
  - php run-tests.php -d extension=psr.so -d extension_dir=modules -n ./tests/*.phpt
  - ./.travis.sh monolog_test
  - ./.travis.sh stash_test
  - ./.travis.sh psr7_test
  - ./.travis.sh league_container_test
  - ./.travis.sh link_util_test
  - ./.travis.sh psx_cache_test
  - ./.travis.sh dispatch_test
  - ./.travis.sh request_handler_test
  - ./.travis.sh http_factory_guzzle_test
  - ./.travis.sh guzzle_psr18_adapter_test

after_success:
  - lcov --no-checksum --directory . --capture --compat-libtool --output-file coverage.info
  - lcov --remove coverage.info "/usr*" --remove coverage.info "*/.phpenv/*" --remove coverage.info "/home/travis/build/include/*" --compat-libtool --output-file coverage.info
  - coveralls-lcov coverage.info

after_failure:
  - for i in `find tests -name "*.out" 2>/dev/null`; do echo "-- START ${i}"; cat $i; echo "-- END"; done
  - for i in `find tests -name "*.mem" 2>/dev/null`; do echo "-- START ${i}"; cat $i; echo "-- END"; done

