matrix:
  fast_finish: true
  allow_failures:
  - php: 'master'
  - language: nix
    env:
    - NIX_CHANNEL=unstable
    - NIX_PHP_ATTR=php
  include:
  - language: php
    php: '7.1'
  - language: php
    php: '7.2'
  - language: php
    php: '7.3'
  - language: php
    php: '7.4snapshot'
  - language: php
    php: 'master'
  - language: nix
    env:
    - NIX_CHANNEL=18.09
    - NIX_PHP_ATTR=php71
  - language: nix
    env:
    - NIX_CHANNEL=18.09
    - NIX_PHP_ATTR=php72
  - language: nix
    env:
    - NIX_CHANNEL=unstable
    - NIX_PHP_ATTR=php

addons:
  apt:
    packages:
      - lcov

env:
  global:
    secure: "VCrvkI8wkGdbtss+gYURvoBa9RKAyqV7O8/MxZuiSGJholep4Q9RPYnZpgI4voYxNuKRLbfO1EomtUYzQJxAL8AEH2//8rl9UykfX/Gp+XuramFsbfZEojLTxT3wmWSSvbd92sFw73iiWpstcRvv3pVdWpM6Kb47wERCt5F4WnU="

branches:
  only:
    - master
    - develop
    - travis

before_install:
  - source ./.ci/travis_env.sh
  - before_install
install: install
before_script: before_script
script: script
after_success: after_success
after_failure: after_failure
