language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0

env:
  global:
    - MONOLOG_VERSION=1.17.2
    - GUZZLE_PSR7_VERSION=1.2.1
    - STASH_VERSION=v1.0.0-dev

branches:
  only:
    - master
    - develop

sudo: false

install:
  - phpize
  - ./configure
  - make

before_script:
  - travis_retry ./.travis.sh monolog_init
  - travis_retry ./.travis.sh stash_init
  - travis_retry ./.travis.sh psr7_init

script:
  - export NO_INTERACTION=1
  - export REPORT_EXIT_STATUS=1
  - export TEST_PHP_EXECUTABLE=`which php`
  - php run-tests.php -d extension=psr.so -d extension_dir=modules -n ./tests/*.phpt
  - for i in `ls tests/*.out 2>/dev/null`; do echo "-- START ${i}"; cat $i; echo "-- END"; done
  - ./.travis.sh monolog_test
  - ./.travis.sh stash_test
  - ./.travis.sh psr7_test

