version: '{branch}.{build}'

branches:
  only:
  - master
  - appveyor
  - w32

platform:
- x86
- x64

cache:
- 'C:\Downloads -> appveyor.yml'

environment:
  PHP_SDK_BINARY_TOOLS_VER: 2.0.7
  NO_INTERACTION: 1
  REPORT_EXIT_STATUS: 1
  TEST_PHP_EXECUTABLE: C:\projects\php\php.exe

  matrix:
    - PHP_VER: 7.0
      VC_VER: vc14
      PHP_BUILD_TYPE: Win32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    - PHP_VER: 7.0
      VC_VER: vc14
      PHP_BUILD_TYPE: nts-Win32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    - PHP_VER: 7.1
      VC_VER: vc14
      PHP_BUILD_TYPE: Win32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    - PHP_VER: 7.1
      VC_VER: vc14
      PHP_BUILD_TYPE: nts-Win32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    - PHP_VER: 7.2
      VC_VER: vc15
      PHP_BUILD_TYPE: Win32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - PHP_VER: 7.2
      VC_VER: vc15
      PHP_BUILD_TYPE: nts-Win32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015

install:
- ps: Import-Module .\appveyor.psm1
- ps: SetupPhpVersionString
- ps: AppendSessionPath
- ps: EnsureRequiredDirectoriesPresent
- ps: Ensure7ZipIsInstalled
- ps: InstallSdk
- ps: InstallPhp
- ps: InstallPhpDevPack

build_script:
- ps: InitializeBuildVars
- '"%VSCOMNTOOLS%\VsDevCmd" %PLATFORM%'
- '"%VSCOMNTOOLS%\..\..\VC\vcvarsall.bat" %ARCH%'
- phpsdk_setvars
- phpize
- if "%platform%" == "x86" if "%PHP_BUILD_TYPE%" == "nts-Win32" set RELEASE_FOLDER=%APPVEYOR_BUILD_FOLDER%\Release
- if "%platform%" == "x86" if "%PHP_BUILD_TYPE%" == "Win32" set RELEASE_FOLDER=%APPVEYOR_BUILD_FOLDER%\Release_TS
- if "%platform%" == "x64" if "%PHP_BUILD_TYPE%" == "nts-Win32" set RELEASE_FOLDER=%APPVEYOR_BUILD_FOLDER%\%platform%\Release
- if "%platform%" == "x64" if "%PHP_BUILD_TYPE%" == "Win32" set RELEASE_FOLDER=%APPVEYOR_BUILD_FOLDER%\%platform%\Release_TS
- set RELEASE_ZIPBALL=psr_%platform%_%VC_VER%_%PHP_VER%_%APPVEYOR_BUILD_VERSION%
- cmd: >-
    move configure.js configure.js-tmp

    echo var PHP_SANITIZER="no"; var PHP_CONFIG_PROFILE="no"; >configure.js

    type configure.js-tmp >>configure.js

    configure.bat --disable-all --enable-psr --with-prefix=C:\projects\php

    nmake

test_script:
- cmd: nmake test

after_build:
- echo Collect artifacts and zip
- mkdir package
- copy *.md package
- copy %RELEASE_FOLDER%\php_psr.dll package
- cd package
- 7z a %RELEASE_ZIPBALL%.zip *
- mv %RELEASE_ZIPBALL%.zip %APPVEYOR_BUILD_FOLDER%\
- cd %APPVEYOR_BUILD_FOLDER%

artifacts:
  - path: '.\*.zip'
    name: psr
    type: zip
