name: ci

on:
  push:
    branches:
      - master
      - github-actions
      - ci
  pull_request:
    branches:
      - master

jobs:
  linux:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    name: PHP ${{ matrix.php-versions }} / ${{ matrix.operating-system }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
        php-versions:
          - "7.4"
          - "8.0"
          - "8.1"
        coverage:
          - "true"
          - "false"
    steps:
      - uses: actions/checkout@v3
      - run: bash .github/scripts/linux.sh
        env:
          PHP_VERSION: ${{ matrix.php-versions }}
          COVERAGE: ${{ matrix.coverage }}
      - name: Coveralls
        if: ${{ matrix.coverage == 'true' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage.info

  osx:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    name: PHP ${{ matrix.php-versions }} / ${{ matrix.operating-system }}
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system:
          - "macos-latest"
        php-versions:
          - "7.4"
          - "8.0"
          - "8.1"
    steps:
      - uses: actions/checkout@v3
      - run: bash .github/scripts/osx.sh
        env:
          PHP_VERSION: ${{ matrix.php-versions }}

  docker:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    name: PHP ${{ matrix.php-versions }} / ${{ matrix.docker-image }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        docker-image:
          - "alpine"
          - "debian"
        php-versions:
          - "7.4"
          - "8.0"
          - "8.1"
    steps:
      - uses: actions/checkout@v3
      - run: bash .github/scripts/docker.sh
        env:
          PHP_VERSION: ${{ matrix.php-versions }}
          DOCKER_NAME: ${{ matrix.docker-image }}

  docker-fedora:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    name: fedora
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: bash .github/scripts/docker.sh
        env:
          DOCKER_NAME: fedora
          TEST_PHP_EXECUTABLE: /usr/bin/php
